  <!-- NEED TO CHANGE PATH OF THIS LINK TO PROJECT SHOW -->
<% @project_list.each do |project| %>
  <div class="project-card">
    <%= link_to project_path(project) do %>
    <div class="project-card-content">
      <%= image_tag "project-default.jpg", class: "project-image" %>
      <div class="project-card-info">
        <p><%= project.title %></p>
        <div>
          <i class="fas fa-heart">23</i>
          <i class="fas fa-eye">50</i>
          <i class="fas fa-comment">15</i>
        </div>
      </div>
    </div>
    <% end %>
    <!-- NEED TO CHANGE PATH OF THIS LINK TO USER SHOW -->
    <%= link_to project_path(project) do %>
    <div class="project-card-user">
      <img src="" alt="" class="project-avatar">
      <span><%= project.user.username %></span>
    </div>
    <% end %>
  </div>
<% end %>
