  <!-- NEED TO CHANGE PATH OF THIS LINK TO PROJECT SHOW -->

<% if @published_projects.empty? %>
  <h3 class="text-center">@<%= @user.username %> has no projects yet!</h3>
<% else %>
  <%= link_to project_path(@published_projects.last) do %>
    <div class="featured-user-show-card">
        <div>
          <% if @published_projects.last.photo != nil %>
            <%= image_tag @published_projects.last.photo, class: "featured-user-show-photo" %>
          <% else %>
            <%= image_tag "project-default.jpg", class: "featured-user-show-photo" %>
          <% end %>
        </div>
        <p class="title"><%= @published_projects.last.title %></p>
        <p><%= @published_projects.last.category %></p>
    </div>
  <% end %>
<% end %>




