<% @published_projects[0..-1].each do |project| %>
  <% if project.published %>
    <%= link_to project_path(project) do %>
      <div class="user-show-card">
          <div>
            <% if project.photo != nil %>
              <%= image_tag project.photo, class: "user-show-photo" %>
            <% else %>
              <%= image_tag "project-default.jpg", class: "user-show-photo" %>
            <% end %>
          </div>
          <p class="title"><%= project.title %></p>
          <p><%= project.category %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
