<div class="container mt-4 mb-4">
  <div class="row justify-content-center mb-4">
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
      <div class="form-signup">
      <h2 class="text-dark mt-2">Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-row">
              <div class="col">
                <%= f.input :username, required: true, autofocus: true, placeholder: "tylermusic" %>
              </div>
              <div class="col">
                <%= f.input :email,
                            required: true,
                            placeholder: "tyler@gmail.com",
                            input_html: { autocomplete: "email" }%>
              </div>
            </div>
            <%= f.input :password,
                        required: true,
                        placeholder: "••••••••",
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: "••••••••",
                        input_html: { autocomplete: "new-password" } %>
          </div>

         <div class="form-actions d-flex justify-content-center">
           <%= f.button :submit, "Sign up", class: "btn btn-dark py-3 mt-2" %>
         </div>
        <% end %>
        <p class="mt-2"> Already a member?
        <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
  </div>
</div>
