<div class="message-feed">
  <div class="messages-scroll" id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <section class="message-header">
      <% if @chatroom.sender == current_user %>
        <%= link_to user_path(@chatroom.receiver.username) do %>
          <%= cl_image_tag @chatroom.receiver.photo.key if @chatroom.receiver.photo.attached? %>
        <% end %>
        <h4><%= @chatroom.receiver.first_name if @chatroom.receiver.first_name %> <%= @chatroom.receiver.last_name %></h4>
        <%= link_to user_path(@chatroom.receiver.username) do %>
          <h5>@<%= @chatroom.receiver.username %></h5>
        <% end %>
        <h6>Specialty: <%= @chatroom.receiver.specialty %></h6>
      <% else %>
        <%= link_to user_path(@chatroom.sender.username) do %>
          <%= cl_image_tag @chatroom.sender.photo.key if @chatroom.sender.photo.attached? %>
        <% end %>
        <h4><%= @chatroom.sender.first_name if @chatroom.sender.first_name %> <%= @chatroom.sender.last_name if @chatroom.sender.last_name %></h4>
        <%= link_to user_path(@chatroom.sender.username) do %>
          <h5>@<%= @chatroom.sender.username %></h5>
        <% end %>
        <h6>Specialty: <%= @chatroom.sender.specialty %></h6>
      <% end %>
    </section>
    <% @chatroom.messages.each do |message| %>
      <div class="message-card">
        <%= link_to user_path(message.user.username) do %>
          <%= cl_image_tag message.user.photo.key if message.user.photo.attached? %>
        <% end %>
        <div class="message-content">
          <div class="message-data">
            <%= link_to user_path(message.user.username) do %>
              <p class="username"><%= message.user.username %></p>
            <% end %>
            <small class="sent-at"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </div>
          <p><%= message.content %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="new-message">
    <%= simple_form_for [ @chatroom, @message ] do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message...", autofocus: true %>
    <% end %>
  </div>
</div>

