<div class="chatrooms-main">
  <section class="chatrooms-container-left">

    <div class="searchbar">
      <%= form_tag chatrooms_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input",
          placeholder: "Search messages"
        %>
      <% end %>
    </div>

    <ul class="chatrooms">
      <li class="chatroom-card active">
        <% if @chatrooms.first.sender == current_user %>
          <%= link_to user_path(@chatrooms.first.receiver) do %>
            <%= cl_image_tag @chatrooms.first.receiver.photo.key if @chatrooms.first.messages.last.user.photo.attached? %>
          <% end %>
        <% else %>
          <%= link_to user_path(@chatrooms.first.sender) do %>
            <%= cl_image_tag @chatrooms.first.sender.photo.key if @chatrooms.first.messages.last.user.photo.attached? %>
          <% end %>
        <% end %>
        <div class="chatroom-content">
          <div class="chatroom-data">
            <% if @chatrooms.first.sender == current_user %>
              <%= link_to user_path(@chatrooms.first.receiver.username) do %>
                <p class="username"><%= @chatrooms.first.receiver.username %></p>
              <% end %>
            <% else %>
              <%= link_to user_path(@chatrooms.first.sender.username) do %>
                <p class="username"><%= @chatrooms.first.sender.username %></p>
              <% end %>
            <% end %>
            <small class="sent-at"><%= @chatrooms.first.messages.last.created_at.strftime("%b %e") %></small>
          </div>
          <% if @chatroom.messages.last.user == current_user %>
            <p>You: <%= @chatrooms.first.messages.last.content %></p>
          <% else %>
            <p><%= @chatrooms.first.messages.last.user.username %>: <%= @chatrooms.first.messages.last.content %></p>
          <% end %>
        </div>
      </li>

      <% @chatrooms[1..-1].each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
          <li class="chatroom-card">
            <% if @chatrooms.first.sender == current_user %>
              <%= link_to user_path(@chatrooms.first.receiver) do %>
                <%= cl_image_tag @chatrooms.first.receiver.photo.key if @chatrooms.first.messages.last.user.photo.attached? %>
              <% end %>
            <% else %>
              <%= link_to user_path(@chatrooms.first.sender) do %>
                <%= cl_image_tag @chatrooms.first.sender.photo.key if @chatrooms.first.messages.last.user.photo.attached? %>
              <% end %>
            <% end %>
            <div class="chatroom-content">
              <div class="chatroom-data">
                <% if @chatrooms.first.sender == current_user %>
                  <%= link_to user_path(@chatrooms.first.receiver.username) do %>
                    <p class="username"><%= @chatrooms.first.receiver.username %></p>
                  <% end %>
                <% else %>
                  <%= link_to user_path(@chatrooms.first.sender.username) do %>
                    <p class="username"><%= @chatrooms.first.sender.username %></p>
                  <% end %>
                <% end %>
                <small class="sent-at"><%= chatroom.messages.last.created_at.strftime("%b %e") %></small>
              </div>
              <% if chatroom.messages.last.user == current_user %>
                <p>You: <%= chatroom.messages.last.content %></p>
              <% else %>
                <p><%= chatroom.messages.last.user.username %>: <%= @chatrooms.first.messages.last.content %></p>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="chatrooms-container-right">
    <%= render 'show' %>
  </section>
</div>

<script>
const chooseChat = () => {
  const chatroomCards = document.querySelectorAll('.chatroom-card')

  for (const chatroomCard of chatroomCards) {
    chatroomCard.addEventListener('click', (event) => {
      document.querySelectorAll(".chatroom-card").forEach((chatCard) => {
        chatCard.classList.remove('active');
      })

      event.currentTarget.classList.add('active');
    });
  }
}

chooseChat();
</script>
