<div class="chatrooms-main">
  <section class="chatrooms-container-left">

    <div class="searchbar">
      <%= form_tag chatrooms_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input",
          placeholder: "Search messages"
        %>
      <% end %>
    </div>

    <ul class="chatrooms"> <!-- onclick="removeActive(event);chooseChat(event);" -->
      <li class="chatroom-card active">
        <%= link_to user_path(@chatrooms.first.messages.last.user.username) do %>
          <%= cl_image_tag @chatrooms.first.messages.last.user.photo.key if @chatrooms.first.messages.last.user.photo.attached? %>
        <% end %>
        <div class="chatroom-content">
          <div class="chatroom-data">
            <%= link_to user_path(@chatrooms.first.messages.last.user.username) do %>
              <p class="username"><%= @chatrooms.first.messages.last.user.username %></p>
            <% end %>
            <small class="sent-at"><%= @chatrooms.first.messages.last.created_at.strftime("%a %b %e") %></small>
          </div>
          <p><%= @chatrooms.first.messages.last.content %></p>
        </div>
      </li>

      <% @chatrooms[1..-1].each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
          <li class="chatroom-card">
            <%= link_to user_path(chatroom.messages.last.user.username) do %>
              <%= cl_image_tag chatroom.messages.last.user.photo.key if chatroom.messages.last.user.photo.attached? %>
            <% end %>
            <div class="chatroom-content">
              <div class="chatroom-data">
                <%= link_to user_path(chatroom.messages.last.user.username) do %>
                  <p class="username"><%= chatroom.messages.last.user.username %></p>
                <% end %>
                <small class="sent-at"><%= chatroom.messages.last.created_at.strftime("%a %b %e") %></small>
              </div>
              <p><%= chatroom.messages.last.content %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="chatrooms-container-right">
    <%= render 'show' %>
  </section>
</div>

<script>
const chooseChat = () => {
  const chatroomCards = document.querySelectorAll('.chatroom-card')

  for (const chatroomCard of chatroomCards) {
    chatroomCard.addEventListener('click', (event) => {
      document.querySelectorAll(".chatroom-card").forEach((chatCard) => {
        // remove active from all other cards
        chatCard.classList.remove('active');
      })
      // add active class to target
      event.currentTarget.classList.add('active');
    });
  }
}

chooseChat();
</script>
