<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1>#<%= @chatroom.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= simple_form_for [ @chatroom, @message ] do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
      <% end %>
    </div>
  </div>


    <div class="container">

      <div class="feed justify-content-between project-comments">

        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <div class="feed-scroll">
            <% @chatroom.messages.each do |message| %>
              <div class="card-feed d-flex mb-2">
                <%= cl_image_tag current_user.photo.key if current_user.photo.attached? %>
              </div>
              <div class="">
                <%= link_to user_path(message.user.username) do %>
                  <p class="username font-weight-bold pt-2"><%= message.user.username %></p>
                <% end %>
                <p class="user-text"><%= message.content %>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </p>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>



<!-- TRYING TO REPLICATE THESE STYLES!! -->

</div>
