<div class="feed project-comments">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <div class="feed-scroll">
      <% @chatroom.messages.each do |message| %>
        <div class="card-feed d-flex mb-2">
          <%= link_to user_path(message.user.username) do %>
            <%= cl_image_tag current_user.photo.key if current_user.photo.attached? %>
          <% end %>
          <%= link_to user_path(message.user.username) do %>
            <p class="username font-weight-bold pt-2"><%= message.user.username %></p>
          <% end %>
          <p class="user-text"><%= message.content %>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= simple_form_for [ @chatroom, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Write a message..." %>
<% end %>
