<div class="message-feed">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <div class="messages-scroll">
      <% @chatroom.messages.each do |message| %>
        <div class="message-card">
          <%= link_to user_path(message.user.username) do %>
            <%= cl_image_tag message.user.photo.key if message.user.photo.attached? %>
          <% end %>
          <div class="message-content">
            <div class="message-data">
              <%= link_to user_path(message.user.username) do %>
                <p class="username"><%= message.user.username %></p>
              <% end %>
              <small class="sent-at"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </div>
            <p><%= message.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="new-message">
  <%= simple_form_for [ @chatroom, @message ] do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message...", autofocus: true %>
    <%#= f.submit value: 'send', class: 'btn-dash' %>
  <% end %>
</div>
