
  <div class="user-container">
    <!------------------------------------------------->
    <!------------------------------------------------->
    <!------------------- LEFT HALF ------------------->
    <!------------------------------------------------->
    <!------------------------------------------------->
    <div class="user-container-left">
      <div class="user-info">
        <div class="user-buttons">
          <a href="" class="btn btn-outline-secondary">Follow</a>
          <%= link_to "Message", chatrooms_path, class: "btn btn-dark ml-2" %>
        </div>

            <%= cl_image_tag @user.photo.key, gravity: :faces, crop: :fill, class: "avatar-user-show" if @user.photo.attached? %>
            <h1>@<%= @user.username %></h1>
            <p class="user-bio"><%= @user.bio %></p>
            <p class="user-details">
              <span class="user-specialty"><%= @user.specialty %></span> |
              <span class="user-projects-count"><%= @published_projects.count %> projects</span> |
              <span class="user-location">los angeles</span>
            </p>

            <% if user_signed_in? %>
              <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'btn btn-dash' %>
            <% end %>

        <!-- END of row -->
        <div class="row justify-content-center pb-3 mb-3">
          <div class="col-lg-8">
            <%= render 'components/user_show_card_featured' %>
          </div>
        </div>
      </div>
    </div>



    <!------------------------------------------------->
    <!------------------------------------------------->
    <!------------------ RIGHT HALF ------------------->
    <!------------------------------------------------->
    <!------------------------------------------------->
    <div class="user-container-right">
      <div class="container">
          <div class="cards">
            <%= render 'components/user_show_card' %>
          </div>
      </div>
    </div>
  </div>
