<div class="user-container">
  <!------------------------------------------------->
  <!------------------------------------------------->
  <!------------------- LEFT HALF ------------------->
  <!------------------------------------------------->
  <!------------------------------------------------->
  <div class="user-container-left mt-4">
    <div class="user-info mt-3">
      <div class="user-header">
        <%= cl_image_tag @user.photo.key, gravity: :faces, crop: :fill, class: "avatar-user-show" if @user.photo.attached? %>
        <h1><%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></h1>
        <h4>@<%= @user.username %></h4>
        <p class="user-location"><i class="fas fa-map-marker-alt"></i> Los Angeles, CA</p>
        <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'btn btn-box-dark btn-100w' %>
        <% end %>
      </div>

      <div class="user-details">
        <% if @user.specialty %>
          <h5 class="user-specialty">Specialty: <%= @user.specialty %></h5>
        <% end %>
        <p class="user-bio"><%= @user.bio %></p>

        <div class="user-connect-buttons">
          <%= link_to "Follow", user_path(@user.username), class: "btn btn-box-outline-dark" %>
          <%= link_to "Message me", chatrooms_path, class: "btn btn-box-dark" %>
        </div>
      </div>

      <!-- <div class="user-stats"></div> -->

      <div class="find-me">
        <div class="find-me-section">
          <%= link_to "#" do %>
          <i class="fab fa-bandcamp"></i> Bandcamp
          <% end %>
        </div>
        <div class="find-me-section">
          <%= link_to "#" do %>
          <i class="fab fa-soundcloud"></i> SoundCloud
          <% end %>
        </div>
        <div class="find-me-section">
          <%= link_to "#" do %>
          <i class="fab fa-spotify"></i> Spotify
          <% end %>
        </div>
        <div class="find-me-section">
          <%= link_to "#" do %>
          <i class="fab fa-instagram"></i> Instagram
          <% end %>
        </div>
        <div class="find-me-section">
          <%= link_to "#" do %>
          <i class="fab fa-twitter-square"></i> Twitter
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------->
  <!------------------------------------------------->
  <!------------------ RIGHT HALF ------------------->
  <!------------------------------------------------->
  <!------------------------------------------------->
  <div class="user-container-right">
      <% if @published_projects.present? %>
        <h4 class="text-center pb-2">Latest project</h4>
      <% end %>
      <%= render 'components/user_show_card_featured' %>

      <% if @published_projects.present? %>
        <h5>Browse all projects (<%= @published_projects.count %>)</h5>
        <div class="user-cards">
          <%= render 'components/user_show_card' %>
        </div>
      <% end %>
  </div>
</div>
