<div class="container">

  <div class="row mt-4 justify-content-end align-items-center">
    <div class="col-2 d-flex text-center p-2">
      <div class="user-buttons-container d-flex">
        <a href="" class="btn btn-outline-secondary">Follow</a>
        <a href="" class="btn btn-dark ml-2">Message</a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pb-4">

    <div class="col-6 text-center">
      <%= cl_image_tag @user.photo.key, height: 180, width: 180, gravity: :faces, crop: :fill, class: "avatar-user-show" if @user.photo.attached? %>
      <h1 class="mt-3 mb-4">@<%= @user.username %></h1>
      <p class="user-bio">
        <%= @user.bio %>
      </p>
      <p class="user-details">
        <span class="user-specialty"><%= @user.specialty %></span> |
        <span class="user-projects-count"><%= @published_projects.count %> projects</span> |
        <span class="user-location">los angeles</span>
      </p>
      <% if @user.available %>
        <div class="availability-display">
          <i class="fas fa-tape"></i>
          <h6>Available</h6>
        </div>
      <% end %>
      <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'btn btn-dash mt-2' %>
      </div>
      <!-- END of column -->
  </div>
  <!-- END of row -->
  <div class="row justify-content-center pb-3 mb-3">
    <div class="col-lg-8">
      <%= render 'components/user_show_card_featured' %>
    </div>
  </div>
</div>
<!-- END of container -->


  <div class="container">
      <div class="cards">
        <%= render 'components/user_show_card' %>
      </div>
  </div>
  <!-- <div class="container">
    <div class="embed-grid">
      <div class="soundcloud-links">
        <iframe width="50%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/760419946&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        <iframe style="border: 0; width: 50%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/v=2/track=1871785793/size=medium/linkcol=0084B4/notracklist=true " seamless></iframe>
        <iframe style="border: 0; width: 50%; height: 120px;" src="https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F646304142&amp;auto_play=false&amp;show_artwork=true&amp;visual=true&amp;" frameborder="0"></iframe>
      </div>
    </div> -->
  </div>

