<div class="user-container">
  <!------------------------------------------------->
  <!------------------------------------------------->
  <!------------------- LEFT HALF ------------------->
  <!------------------------------------------------->
  <!------------------------------------------------->
  <div class="user-container-left">
    <div class="user-info">
      <div class="user-details">
        <%= cl_image_tag @user.photo.key, gravity: :faces, crop: :fill, class: "avatar-user-show" if @user.photo.attached? %>
        <h1><%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></h1>
        <h2>@<%= @user.username %></h2>
        <h5 class="user-specialty">Specialty: <%= @user.specialty %></h5>
        <h5 class="user-location">Los Angeles, CA</h5>
        <p class="user-bio"><%= @user.bio %></p>

        <div class="user-connect-buttons">
          <%= link_to "Message me", chatrooms_path, class: "btn btn-dash" %>
          <%= link_to "Follow", user_path(@user.username), class: "btn btn-dash" %>
        </div>
      </div>



      <% if user_signed_in? %>
        <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'btn btn-dash' %>
      <% end %>
    </div>
  </div>
  <!------------------------------------------------->
  <!------------------------------------------------->
  <!------------------ RIGHT HALF ------------------->
  <!------------------------------------------------->
  <!------------------------------------------------->
  <div class="user-container-right">
    <h4>Latest project:</h4>
    <%= render 'components/user_show_card_featured' %>
    <h5>Browse all projects (<%= @published_projects.count %>)</h5>
    <div class="user-cards">
      <%= render 'components/user_show_card' %>
    </div>
  </div>
</div>
