<div class="dash-controls">
  <div class="dash-controls">
    <%= link_to "+ New Project", new_project_path, class: 'btn-dash-lg' %>
  </div>
  <div class="dash-controls">
    <%= link_to "Following", "#", class: 'btn-dash' %>
    <%= link_to "Followers", "#", class: 'btn-dash' %>
  </div>
  <div class="dash-controls">
    <%= link_to "Liked", "#", class: 'btn-dash' %>
    <%= link_to "Saved", "#", class: 'btn-dash' %>
  </div>
  <div class="dash-controls">
    <%= link_to "Messages", "#", class: 'btn-dash' %>
    <%= link_to "Account", edit_user_registration_path(current_user), class: 'btn-dash' %>
  </div>
</div>

<div class="dash-projects">
  <% if @user.projects.present? %>
    <div class="dash-card-headers">
      <div class="dash-card-section">
        <p><strong>title</strong></p>
      </div>
      <div class="dash-card-section">
        <p><strong>description</strong></p>
      </div>
      <div class="dash-card-section">
        <p><strong>media type</strong></p>
      </div>
      <div class="dash-card-section">
        <p><strong>status</strong></p>
      </div>
      <div class="dash-card-section">
        <p><strong>uploaded on</strong></p>
      </div>
    </div>
    <% @user.projects.each do |project| %>
      <div class="dash-card">
        <div class="dash-card-section">
          <strong><p><%= project.title %></p></strong>
        </div>
        <div class="dash-card-section">
          <p><%= project.description %></p>
        </div>
        <div class="dash-card-section">
          <p><%= project.media_type %></p>
        </div>
        <div class="dash-card-section">
          <p>
            <% if project.published %>
              public
            <% else %>
              private
            <% end %>
          </p>
        </div>
        <div class="dash-card-section">
          <p><%= project.created_at %></p>
        </div>

        <div class="dash-card-host-controls">
            <%= link_to edit_project_path(project), class: "button postfix btn-simple" do %>
                <i class="fas fa-edit edit"></i>
            <% end %>
            <%= link_to project_path(project), method: :delete, class: "button postfix btn-simple" do %>
                <i class="fas fa-trash delete"></i>
            <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

