<div class="banner" id="home" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0,0.4));">

  <div class="container">
    <div style="width: 100vw "id="siri"></div>
    <a href="#test"></a>
    <h1>Discover the best talent in audio</h1>
    <p>Reele helps sound designers showcase their skills, find collaboration opportunities, and thrive in the industry.</p>
    <% if !user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-box-dark" %>
      <!-- <a class="btn btn-dash" href="#">Sign up</a> -->
    <% end %>
  </div>
</div>
<div class="filter-bar">
    <h5>Filter by category:</h5>
    <div class="filters">
      <%= link_to root_path, class: "#{params[:query].present? ?  'filter-box' : 'filter-box active'}", data: { turbolinks: false } do %>
        <p>All</p>
      <% end %>

      <%= link_to root_path(query: 'Mixing'), class: "filter-box #{current_class?('Mixing')}", data: { turbolinks: false } do %>
        <p>Mixing</p>
      <% end %>

      <%= link_to root_path(query: 'Mastering'), class: "filter-box #{current_class?('Mastering')}", data: { turbolinks: false } do %>
        <p>Mastering</p>
      <% end %>

      <%= link_to root_path(query: 'Audio Engineer'), class: "filter-box #{current_class?('Audio Engineer')}", data: { turbolinks: false } do %>
        <p>Audio Engineer</p>
      <% end %>

      <%= link_to root_path(query: 'Producer'), class: "filter-box #{current_class?('Producer')}", data: { turbolinks: false } do %>
        <p>Producer</p>
      <% end %>

      <%= link_to root_path(query: 'Sound Design'), class: "filter-box #{current_class?('Sound Design')}", data: { turbolinks: false } do %>
        <p>Sound Design</p>
      <% end %>

      <%= link_to root_path(query: 'Composition'), class: "filter-box #{current_class?('Composition')}", data: { turbolinks: false } do %>
        <p>Composition</p>
      <% end %>
    </div>
</div>
<div class="container mt-4 mb-4">
  <div class="cards" id="test">
    <%= render 'components/card' %>
  </div>
</div>
