<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0,0.9));">
  <div class="container">
    <a href="#test"></a>
    <h1>Discover the best talent in audio</h1>
    <p>Reele helps sound designers showcase their skills, find collaboration opportunities, and thrive in the industry.</p>
    <% if !user_signed_in? %>
      <a class="btn btn-dash" href="#">Sign up</a>
    <% end %>
  </div>
</div>
<div class="filter-bar">
    <h5 class="m-0">Filter by category:</h5>
    <%= link_to 'All', root_path(anchor: "test"), class: "#{params[:query].present? ?  '' : 'active'}" %>
    <%= link_to 'Mixing', root_path(query: 'Mixing', anchor: "test"), class: current_class?('Mixing') %>
    <%= link_to 'Mastering', root_path(query: 'Mastering', anchor: "test"), class: current_class?('Mastering') %>
    <%= link_to 'Audio Engineer', root_path(query: 'Audio Engineer', anchor: "test"), class: current_class?('Audio Engineer') %>
    <%= link_to 'Producer', root_path(query: 'Producer', anchor: "test"), class: current_class?('Producer') %>
    <%= link_to 'Sound Design', root_path(query: 'Sound Design', anchor: "test"), class: current_class?('Sound Design') %>
    <%= link_to 'Composition', root_path(query: 'Composition', anchor: "test"), class: current_class?('Composition') %>
</div>
<div class="container mt-4 mb-4">
  <div class="cards" id="test">
    <%= render 'components/card' %>
  </div>
</div>

