<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 mt-4">
      <%= simple_form_for @project do |f| %>
        <%= f.error_notification %>
              <div>
                <%= f.input :title,
                    label: 'Title',
                    placeholder: '...',
                    autofocus: true %>
                <%= f.input :category, as: :select, collection: Project::CATEGORY  %>
              </div>
              <%= f.input :description,
                  label: 'Describe your project',
                  as: :text,
                  placeholder: '...'  %>
              <div class="input-container">
                <div class="input-box">
                  <%= f.input :media_type, as: :radio_buttons, collection: Project::MEDIA_TYPE, label: false, prompt: 'Select media type' %>
                </div>
                <div class="input-box">
                  <%= f.input :photo, as: :file, label: 'Cover photo' %>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <%= f.label 'Upload an audio file' %>
                  <%= f.input :audio_file, as: :file, resource_type: :video, label: false  %>
                </div>
                <div>
                  <%= f.label 'Or embed a video' %>
                  <%= f.input :video_url, label: false, placeholder: 'Project URL' %>
                </div>
              </div>
              <%= f.input :published, as: :radio_buttons, label: 'Publish now?' %>
              <%= f.button :submit, value: 'Upload!', class: 'btn-dash' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
