<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 mt-4">
      <%= simple_form_for @project do |f| %>
        <%= f.error_notification %>

        <div id="new-proj-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= f.input :media_type, as: :radio_buttons, collection: Project::MEDIA_TYPE, label: false, prompt: 'Select media type' %>

              <%= f.label 'upload an audio file' %>
              <%= f.input :audio_file, as: :file, resource_type: :video, label: false  %>
              <%= f.label 'Embed from Bandcamp' %>
              <%= f.input :audio_url, label: false, placeholder: 'Paste Bandcamp URL' %>
              <%= f.label 'or add a video' %>
              <%= f.input :video_url, label: false, placeholder: 'Project URL' %>
            </div>
            <div class="carousel-item">
              <%= f.input :title,
                  label: false,
                  placeholder: 'Project name',
                  autofocus: true %>
              <%= f.input :description,
                  label: false,
                  as: :text,
                  placeholder: 'Tell us about your project...'  %>
              <%= f.input :published, as: :radio_buttons %>
              <%= f.button :submit, value: 'add project', class: 'btn-dash-lg' %>
            </div>
          </div>
          <div class="carousel-controllers">
            <a class="carousel-control-prev" href="#new-proj-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#new-proj-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
