<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-8 col-sm-6">
      <div class="form-new-proj">
        <%= simple_form_for @project do |f| %>
          <%= f.error_notification %>
            <h2 class="text-dark mt-2">Details</h2>
            <div class="form-inputs">
              <div class="form-row">
                <div class="col">
                  <%= f.input :title,
                      label: "Title",
                      autofocus: true %>
                  <%= f.input :description,
                      label: "Describe your project - Features, Details, and more",
                      as: :text,
                      placeholder: 'Tell us about your project...'  %>
                </div>
              </div>
            </div>
          <h2 class="text-dark mt-2">Upload</h2>
          <div class="col">
            <%= f.input :media_type, as: :radio_buttons, collection: Project::MEDIA_TYPE,
                         label: false, prompt: 'Select media type' %>
            <%#= f.label 'Upload an audio file' %>
          </div>
          <%#= f.label 'upload an audio file' %>
          <%#= f.input :audio_file, as: :file, resource_type: :video, label: false  %>
          <%= cl_upload_tag(:video_id, resource_type: :video) %>
          <%#= f.input :audio_file, as: :file, resource_type: :video, label: false  %>
          <%= f.label 'Embed from Bandcamp, Soundcloud, Spotify, or Apple Music' %>
          <%= f.input :audio_url, label: false, placeholder: 'Paste URL here...' %>
          <%= f.label 'Or add a video from Vimeo' %>
          <%= f.input :video_url, label: false, placeholder: 'Vimeo URL' %>
          <%= f.label 'Add some tags' %>
          <%= f.input :tag_list,label: false, placeholder: 'A/V, Mixdown, MPC-2000...' %>
          <%= f.input :published, as: :radio_buttons, label: "Publish?" %>
          <div class="d-flex justify-content-center">
            <%= f.button :submit, value: 'add project', class: 'btn btn btn-dark py-3 mt-2 ' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

