<div class="project-media">
  <% if @project.media_type == 'video' %>
<!----------------------------------------->
<!--------------- IF VIDEO ---------------->
<!----------------------------------------->
    <img src="https://cdn.wallpaper.com/main/2016/10/00-hiroshi-sugimoto-theatres-p.jpg" alt="", style="object-position: bottom;">
    <iframe src="https://player.vimeo.com/video/304107088?color=ffffff&title=0&byline=0&portrait=0" width="1000" height="562.5" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<!-- EXTRACT 8-9 DIGIT CODE VIMEO URL TO SWAP HERE 👆 -->
<!----------------------------------------->
<!----------------------------------------->
  <% elsif @project.audio_url.present? %>
<!----------------------------------------->
<!--------------- AUDIO EMBED ---------------->
<!----------------------------------------->

    <div class="container">
      <img src="https://cdn.wallpaper.com/main/2016/10/00-hiroshi-sugimoto-theatres-p.jpg" alt="", style="object-position: bottom;">
      <% if @project.audio_url.include?('bandcamp')%>
        <%= @project.bandcamp_scrape(@project).html_safe %>
      <% elsif @project.audio_url.include?('soundcloud')%>
        <%= @project.soundcloud_scrape(@project).html_safe %>
      <% elsif @project.audio_url.include?('spotify') %>
        <%= @project.spotify_embed(@project).html_safe %>
      <% elsif @project.audio_url.include?('apple') %>
        <%= @project.apple_embed(@project).html_safe %>
      <% end %>
    </div>
  <% else %>
<!--------------- IF AUDIO ---------------->
<!----------------------------------------->
    <div class="wave-container">
      <div class="wave-section">
        <div class="wave-info-top">
          <div class="text-left">
            <h1><%= @project.title %></h1>
            <h4>Category: <%= @project.category %></h4>
            <!-- <p>By <%= @project.user.username %></p> -->

          </div>
          <div class="wave-controls">
           <i id="waveform-play" class="fas fa-play-circle"></i>
<!--            <i id="waveform-pause"class="fas fa-pause-circle"></i>
 -->      </div>
        </div>
        <div id="waveform" data-audio=<%= @project.video_url%>>
        </div>
      </div>
      <%= image_tag(@project.photo, class:"wave-image") %>
    </div>
  <% end %>
</div>

<!------------------------------------------------->
<!------------------------------------------------->
<!------------------- LEFT HALF ------------------->
<!------------------------------------------------->
<!------------------------------------------------->

<div class="container">
  <div class="content-container">
    <div class="project-container-left m-0">
<!----------------------------------------->
<!------------ PROJ INFO LEFT ------------->
<!----------------------------------------->

      <div class="project-data">
        <div class=" project-data-section">
          <% if @project.tags != nil %>
            <i class="fas fa-tag"></i>
            <p>
              <% @project.tag_list.each do |tag| %>
              #<%= tag %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="project-data-section">
          <i class="fas fa-heart"></i><p>120</p>
        </div>
        <div class="project-data-section">
          <i class="fas fa-eye"></i><p>449</p>
        </div>
        <div class="project-data-section">
          <i class="fas fa-comment"></i><p><%= @project.comments.count %></p>
        </div>
        <p ><%= link_to "Share", edit_project_path(@project), class: 'btn btn-dash share' %></p>
        <p><%= link_to "Edit", edit_project_path(@project), class: 'btn btn-dash edit' if @project.user == current_user %></p>
      </div>
      <div class="project-description">
        <p class='description'><%= @project.description %></p>
      </div>
<!----------------------------------------->
<!--------------- COMMENTS ---------------->
<!----------------------------------------->
      <div class="feed justify-content-between project-comments">
        <div>
          <div class="container p-3">
            <nav class="d-flex border-bottom">
              <h4>Comments</h4>
            </nav>
          </div>

          <%= simple_form_for [@project, @comment], remote: true, html: { class: 'p-2 bg-lightgrey'} do |f|  %>
            <%= f.input :content, as: :string, autofocus: true, label: false, placeholder: "Type your message..." %>
          <% end %>

          <div class="feed-scroll">
            <% @project.comments.reverse_each do |comment| %>
              <div class="card-feed d-flex mb-2">
                <%= cl_image_tag comment.user.photo.key if comment.user.photo.attached? %>
                <div>
                  <%= link_to user_path(comment.user.username) do %>
                    <p class="username font-weight-bold pt-2"><%= comment.user.username %></p>
                  <% end %>
                  <p class="user-text"><%= comment.content %></p>
                </div>
                <% if comment.user_id == current_user&.id %>
                 <span class="delete">
                  <%= link_to comment_path(comment), method: :delete do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                 </span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<!------------------------------------------------->
<!------------------------------------------------->
<!------------------ RIGHT HALF ------------------->
<!------------------------------------------------->
<!------------------------------------------------->


    <div class="project-container-right">
<!----------------------------------------->
<!------------ PROJ INFO RIGHT ------------>
<!----------------------------------------->
      <div class="project-info">
        <div class="user-contact">
          <div class="username-container">
            <%= link_to user_path(@project.user.username) do %>
              <% if @project.user.photo.attached? %>
                  <%= cl_image_tag @project.user.photo.key, class: 'project-show-avatar' %>
                <% else %>
                  <img src="" alt="" class="project-avatar">
              <% end %>
            <% end %>
            <%= link_to user_path(@project.user.username) do %>
              <h6>@<%= @project.user.username %></h6>
            <% end %>
          </div>

          <% if current_user %>
            <%= simple_form_for Chatroom.new do |f| %>
              <%= f.hidden_field :sender_id, value: current_user.id %>
              <%= f.hidden_field :receiver_id, value: @project.user.id %>
              <%= f.submit 'Message me', class: "btn btn-dash" %>
            <% end %>
          <% else %>
            <%= link_to "Message me", new_user_session_path, class: "btn btn-dash" %>
          <% end %>
        </div>

<!--         <div class="project-data">
          <div class="project-data-section">
            <%# if @project.tags != nil %>
              <i class="fas fa-tag"></i>
              <p>
                <%# @project.tag_list.each do |tag| %>
                #<%#= tag %>
                <%# end %>
              </p>
            <%# end %>
          </div>
          <div class="project-data-section">
            <i class="fas fa-heart"></i><p>0</p>
          </div>
          <div class="project-data-section">
            <i class="fas fa-eye"></i><p>0</p>
          </div>
          <div class="project-data-section">
            <i class="fas fa-comment"></i><p><%#= @project.comments.count %></p>
          </div>
        </div>
      </div> -->

<!----------------------------------------->
<!---------------- MORE BY ---------------->
<!----------------------------------------->
      <div class="more-by-user">
        <h4>More by @<%= @project.user.username %></h4>
        <div class="more-user-projects">
          <% @published_projects.each do |project| %>
            <%= link_to project_path(project) do %>
              <div class="show-more-card">
                  <div>
                    <% if project.photo != nil %>
                      <%= image_tag project.photo, class: "show-more-photo" %>
                    <% else %>
                      <%= image_tag "project-default.jpg", class: "show-more-photo" %>
                    <% end %>
                  </div>
                  <p class="title"><%= project.title %></p>
                  <p><%= project.category %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
<!----------------------------------------->
<!-------------- BROWSE MORE -------------->
<!----------------------------------------->
      <div class="browse-more">
        <h5>Browse more projects in</h5>
          <!-- DEAD LINK -->
          <%= link_to "#" do %>
            <h4><%= @project.category %></h4>
          <% end %>
          <!-- DEAD LINK -->
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const commentForm = document.getElementById('new_comment');
    const scroll = '<%= params[:scroll].present? %>' === 'true';
    if (scroll && localStorage['scroll']) {
      window.scroll({ top: localStorage['scroll'] })
    }
    commentForm.addEventListener('submit', () => {
      localStorage['scroll'] = window.scrollY;
    });

    document.querySelectorAll('a').forEach((link) => {
      link.addEventListener('click', () => {
        localStorage['scroll'] = 0;
      });
    });
  });
</script>
<!-- <script>
  clickPlay = document.querySelector('#waveform-play');
  clickPlay.addEventListener("click", (event) => {
    clickPlay.classList.toggle('click');
    event.currentTarget.classList.toggle('click');
    setTimeout(function() {
      clickPlay.classList.toggle('click');
    }, 300);
    clickPlay.classList.toggle('fa-play-circle')
    clickPlay.classList.toggle()
  });
</script> -->
