<div class="show-banner">
  <div class="relative-banner">
  </div>
</div>

<div class="container">
  <div class="content-container">
    <div class="project-description">
      <h1><%= @project.title %></h1>
      <h3>SUBHEAD</h3>
      <div class="">
        <%= @project.description %>
        <%= link_to "Edit project", edit_project_path(@project) %>
      </div>
      <div class="user-contact">
        <i class="fas fa-user-circle" style="font-size: 30px; padding-right: 10px"></i>
        <h6><%= @project.user.username  %></h6>

        <%#=cl_image_tag @project.user.photo.key, class='avatar' %>

      </div>
        <button type="button" class="btn btn-success">Message me</button>
    </div>

    <div class="project-description-and-tags">
      <h5> Category</h5>
      <h6> #wow #misic #amazing #mixedmisic</h6>
      <h5>Tags</h5>
      <h6> #wow #misic #amazing #mixedmisic</h6>
      <h5>Share</h5>
      <ul>
        <li><i class="fas fa-heart"> 100</i></li>
        <li><i class="fas fa-eye"> 689</i></li>
        <li><i class="fas fa-comment"> 496</i></li>
      </ul>
    </div>
  </div>


    <div class="feed justify-content-between">
      <div>
        <div class="container p-3">
          <nav class="d-flex border-bottom">
            <h2>comments</h2>
          </nav>
        </div>

        <%= simple_form_for [@project, @comment], remote: true, html: { class: 'p-2 bg-lightgrey'} do |f|  %>
          <%= f.input :content, as: :string, autofocus: true, label: false, placeholder: "Type your message..." %>
        <% end %>

        <div class="feed-scroll">
          <% @project.comments.reverse_each do |comment| %>
            <div class="card-feed d-flex mb-2">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>

              <div class="">
                <p class="username font-weight-bold pt-2">SteveWozniak</p>
                <p class="user-text"><%= comment.content %></p>
              </div>
              <% if comment.user_id == current_user.id %>
               <span><%= link_to "Delete", comment_path(comment), method: :delete %></span>
              <% end %>
            </div>
          <% end %>

          <div class="card-feed d-flex mb-2">
            <img class= "img-fluid" src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="">

            <div class="">
              <p class="username font-weight-bold pt-2">SteveWozniak</p>
              <p class="user-text">Some text here maaaan lorem Lorem ipsum dolor </p>
            </div>
          </div>

          <div class="card-feed d-flex mb-2">
            <img class= "img-fluid" src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="">

            <div class="d-flex flex-wrap">
              <p class="username font-weight-bold pt-2">SteveWozniak</p>
              <p class="user-text">Some text here maaaan lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae repellat odit pariatur, aliquid fugit, dolorem numquam recusandae voluptates reprehenderit unde sit magni eum necessitatibus corrupti assumenda dolor facilis harum ullam.</p>
            </div>
          </div>

          <div class="card-feed d-flex mb-2">
            <img class= "img-fluid" src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="">

            <div class="d-flex flex-wrap">
              <p class="username font-weight-bold pt-2">SteveWozniak</p>
              <p class="user-text">Some text here maaaan lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae repellat odit pariatur, aliquid fugit, dolorem numquam recusandae voluptates reprehenderit unde sit magni eum necessitatibus corrupti assumenda dolor facilis harum ullam.</p>
            </div>
          </div>


          <div class="card-feed d-flex mb-2">
            <img class= "img-fluid" src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="">

            <div class="d-flex flex-wrap">
              <p class="username font-weight-bold pt-2">SteveWozniak</p>
              <p class="user-text">Some text here maaaan lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae repellat odit pariatur, aliquid fugit, dolorem numquam recusandae voluptates reprehenderit unde sit magni eum necessitatibus corrupti assumenda dolor facilis harum ullam.</p>
            </div>
          </div>




        </div>
      </div>
    </div>


  </div>
</div>
<script>
  document.addEventListener('turbolinks:load', () => {
    if (localStorage['scroll']) {
      window.scroll({ top: localStorage['scroll'] })
    }
    window.addEventListener('scroll', () => {
      localStorage['scroll'] = window.scrollY;
    });
  });
</script>
