<div class="project-media">
  <% if @project.media_type == 'video' %>
<!----------------------------------------->
<!--------------- IF VIDEO ---------------->
<!----------------------------------------->
    <img src="https://cdn.wallpaper.com/main/2016/10/00-hiroshi-sugimoto-theatres-p.jpg" alt="", style="object-position: bottom;">
    <iframe src="https://player.vimeo.com/video/170793958?color=ffffff&title=0&byline=0&portrait=0" width="1000" height="562.5" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<!-- EXTRACT 8-9 DIGIT CODE VIMEO URL TO SWAP HERE 👆 -->
<!----------------------------------------->
<!----------------------------------------->
  <% else %>
<!----------------------------------------->
<!--------------- IF AUDIO ---------------->
<!----------------------------------------->
    <img src="https://wallpaperplay.com/walls/full/d/b/c/129047.jpg" alt="", style="object-position: center;">
<!-- AUDIO PLAYER TO GO HERE 👇 -->
    <div id="waveform" class="relative-banner" data-audio="http://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3">
    </div>
     <div class="wave-controls">
      <i id="waveform-play" class="fas fa-play-circle"></i>
      <i id="waveform-pause"class="fas fa-pause-circle"></i>
    </div>
<!-- AUDIO PLAYER TO GO HERE 👆 -->
<!----------------------------------------->
<!----------------------------------------->
  <% end %>
</div>

<!------------------------------------------------->
<!------------------------------------------------->
<!------------------- LEFT HALF ------------------->
<!------------------------------------------------->
<!------------------------------------------------->

<div class="container">
  <div class="content-container">
    <div class="project-container-left">
<!----------------------------------------->
<!------------ PROJ INFO LEFT ------------->
<!----------------------------------------->
      <div class="project-description">
        <h1><%= @project.title %></h1>
        <h4>Category: <%= @project.category %></h4>
        <p class='description'><%= @project.description %></p>
        <p><%= link_to "Share this project", edit_project_path(@project), class: 'btn btn-dash share' %></p>
        <p><%= link_to "Edit project", edit_project_path(@project), class: 'btn btn-dash edit' if @project.user == current_user %></p>
      </div>
<!----------------------------------------->
<!--------------- COMMENTS ---------------->
<!----------------------------------------->
      <div class="feed justify-content-between project-comments">
        <div>
          <div class="container p-3">
            <nav class="d-flex border-bottom">
              <h4>Comments</h4>
            </nav>
          </div>

          <%= simple_form_for [@project, @comment], remote: true, html: { class: 'p-2 bg-lightgrey'} do |f|  %>
            <%= f.input :content, as: :string, autofocus: true, label: false, placeholder: "Type your message..." %>
          <% end %>

          <div class="feed-scroll">
            <% @project.comments.reverse_each do |comment| %>
              <div class="card-feed d-flex mb-2">
                <%= cl_image_tag comment.user.photo.key if comment.user.photo.attached? %>
                <div>
                  <%= link_to user_path(comment.user.username) do %>
                    <p class="username font-weight-bold pt-2"><%= comment.user.username %></p>
                  <% end %>
                  <p class="user-text"><%= comment.content %></p>
                </div>
                <% if comment.user_id == current_user&.id %>
                 <span class="delete">
                  <%= link_to comment_path(comment), method: :delete do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                 </span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<!------------------------------------------------->
<!------------------------------------------------->
<!------------------ RIGHT HALF ------------------->
<!------------------------------------------------->
<!------------------------------------------------->


    <div class="project-container-right">
<!----------------------------------------->
<!------------ PROJ INFO RIGHT ------------>
<!----------------------------------------->
      <div class="project-info">
        <div class="user-contact">
          <div class="username-container">
            <%= link_to user_path(@project.user.username) do %>
              <i class="fas fa-user-circle"></i>
            <% end %>
            <%= link_to user_path(@project.user.username) do %>
              <h6><%= @project.user.username  %></h6>
            <% end %>
          </div>
          <%#=cl_image_tag @project.user.photo.key, class='avatar' %>
          <button type="button" class="btn btn-dash">Message me</button>
        </div>

        <div class="project-data">
          <div class="project-data-section">
            <i class="fas fa-tag"></i><p>#ambient #music #inspirational #melodic #instrumental</p>
          </div>
          <div class="project-data-section">
            <i class="fas fa-heart"></i><p>100</p>
          </div>
          <div class="project-data-section">
            <i class="fas fa-eye"></i><p>689</p>
          </div>
          <div class="project-data-section">
            <i class="fas fa-comment"></i><p><%= @project.comments.count %></p>
          </div>
        </div>
      </div>

<!----------------------------------------->
<!---------------- MORE BY ---------------->
<!----------------------------------------->
      <div class="more-by-user">
        <h4>More by <%= @project.user.username %></h4>
        <div class="more-user-projects">
          <% @published_projects.each do |project| %>
            <%= link_to project_path(project) do %>
              <div class="show-more-card">
                  <div>
                    <% if project.photo != nil %>
                      <%= image_tag project.photo, class: "show-more-photo" %>
                    <% else %>
                      <%= image_tag "project-default.jpg", class: "show-more-photo" %>
                    <% end %>
                  </div>
                  <p class="title"><%= project.title %></p>
                  <p><%= project.category %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
<!----------------------------------------->
<!-------------- BROWSE MORE -------------->
<!----------------------------------------->
      <div class="browse-more">
        <h5>Browse more projects in</h5>
        <h4><%= link_to "Composition", "#" %></h4>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    if (localStorage['scroll']) {
      window.scroll({ top: localStorage['scroll'] })
    }
    window.addEventListener('scroll', () => {
      localStorage['scroll'] = window.scrollY;
    });
  });
</script>
